<!-- ======= About me Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img
                      src="assets/img/ahtashpro.jpeg"
                      class="img-fluid rounded b-shadow-a"
                      alt=""
                    />
                  </div>
                </div>

                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Name: </span>
                      <span>Hussam Ahtash</span>
                    </p>
                    <p>
                      <span class="title-s">Profile: </span>
                      <span>full stack developer</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>Hussamahtash11.com</span>
                    </p>
                    <p>
                      <span class="title-s">Phone: </span>
                      <span>+33782087809</span>
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-ms-6">
                    <p class="title-s">Skill</p>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="skill-mf col-md-6">
                        <p class="title-s" id="title-comp">Development</p>
                        <div class="d-flex flex-column">
                          <span class="py-2">HTML</span>
                          <span class="py-2">CSS3</span>
                          <span class="py-2">PHP</span>
                          <span class="py-2">JAVASCRIPT</span>
                          <span class="py-2">MySQL, SQL</span>
                        </div>
                      </div>
                      <div class="skill-mf col-md-6">
                        <p class="title-s" id="title-comp">Tools</p>
                        <div class="d-flex flex-column">
                          <span class="py-2">Git / Github</span>
                          <span class="py-2">Agile SCRUM</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf col-md-6">
                    <p class="title-s" id="title-comp">Frameworks</p>
                    <div class="d-flex flex-column">
                      <span class="py-2">ANGULAR</span>
                      <span class="py-2">REACT</span>
                      <span class="py-2">LARAVEL</span>
                      <span class="py-2">BOOTSTRAP</span>
                      <span class="py-2">TAILWIND</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">About me</h5>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <p class="title-s" id="title-comp">Trining</p>
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="card p-2">
                          <div class="card-body">
                            <p class="card-titles d-flex">
                              Web and mobile web developer
                              <span
                                class="font-italic h6 ms-4 mt-1 text-secondary"
                              >
                                Bac+2
                              </span>
                            </p>
                            <p class="card-subtitl mt-2 text-body-secondary">
                              11/2021 - 09/2022 | Simplon, Toulouse
                            </p>
                            <p class="card-text mt-2">
                              Develop the front-end and back-end parts of a web
                              app or mobile web
                            </p>
                          </div>
                        </div>
                        <div class="card p-2">
                          <div class="card-body">
                            <p class="card-titles">
                              AgilePM® or Agile Project Management
                            </p>
                            <p class="card-subtitl mt-2 text-body-secondary">
                              05/2022 | Toulouse
                            </p>
                            <p class="card-text mt-2">
                              The project management qualification aims to meet
                              the needs of people who wish to pilot a project in
                              nimble mode
                            </p>
                          </div>
                        </div>
                        <div class="card p-2">
                          <div class="card-body">
                            <p class="card-titles">Apple Foundation Program</p>
                            <p class="card-subtitl mt-2 text-body-secondary">
                              09/2021 | Simplon, Toulouse
                            </p>
                            <p class="card-text mt-2">
                              Initiation to UX design to the IOS ecosystem and
                              prototyping of an application in Swift
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <p class="title-s" id="title-comp">
                          Professional experience
                        </p>
                      </button>
                    </h2>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="card p-2">
                          <div class="card-body">
                            <p class="card-titles d-flex">
                              Fullstack Web Developer
                            </p>
                            <div class="d-flex justify-content-around">
                              <p class="card-subtitl mt-2 text-body-secondary">
                                09/2022 – En cours | E-Fusion, Toulouse
                              </p>
                              <div class="div-img">
                                <img
                                  class="img-efusion"
                                  src="assets/img/2.png"
                                  alt=""
                                />
                              </div>
                            </div>

                            <p class="card-text mt-2">
                              <i class="bi bi-arrow-bar-right"></i>Development
                              of a web platform for quick and easy access to
                              electric vehicle charging stations.
                            </p>
                            <p class="card-text mt-2">
                              <i class="bi bi-arrow-bar-right"></i>Add new
                              functions to the web application -
                              <em class="em-text">Angular</em>.
                            </p>
                            <p class="card-text mt-1">
                              <i class="bi bi-arrow-bar-right"></i>Development
                              frontend <mark class="B2b">BtoC</mark> application
                              <em class="em-text">Angular , AWS</em>.
                            </p>
                            <p class="card-text mt-1">
                              <i class="bi bi-arrow-bar-right"></i>Development
                              frontend <mark class="B2b">BtoB</mark> application
                              <em class="em-text">Angular , AWS</em>.
                            </p>
                            <p class="card-text mt-1">
                              <i class="bi bi-arrow-bar-right"></i>Realization
                              of work in agile mode
                              <em class="em-text">Jira</em>.
                            </p>
                          </div>
                        </div>
                        <div class="card p-2">
                          <div class="card-body">
                            <p class="card-titles d-flex">
                              Fullstack Web Developer
                              <small class="ms-4 mt-1 text-secondary"
                                >Stage</small
                              >
                            </p>
                            <div class="d-flex justify-content-around">
                              <p class="card-subtitl mt-2 text-body-secondary">
                                mai 2022 - août 2022 | E-Fusion, Toulouse
                              </p>
                              <div class="div-img">
                                <img
                                  class="img-efusion"
                                  src="assets/img/2.png"
                                  alt=""
                                />
                              </div>
                            </div>

                            <p class="card-text mt-2">
                              <i class="bi bi-arrow-bar-right"></i>Showcase
                              website development.
                            </p>
                            <p class="card-text mt-1">
                              <i class="bi bi-arrow-bar-right"></i
                              >Authentication demo development
                              <em class="em-text">React native, Firebase</em>.
                            </p>
                            <p class="card-text mt-1">
                              <i class="bi bi-arrow-bar-right"></i>Start
                              Development frontend
                              <mark class="B2b">BtoC</mark> application
                              <em class="em-text">Angular,Java</em>.
                            </p>
                            <p class="card-text mt-1">
                              <i class="bi bi-arrow-bar-right"></i>Invoice
                              development
                              <em class="em-text">Java/thymeleaf</em>.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <p class="title-s" id="title-comp">Personal project</p>
                      </button>
                    </h2>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="card p-2">
                          <div class="card-body">
                            <p class="card-titles d-flex">
                              Fullstack project
                              <small class="ms-4 mt-1 text-secondary"
                                >Laravel</small
                              >
                            </p>
                            <div class="d-flex justify-content-around">
                              <p class="card-subtitl mt-2 text-body-secondary">
                                10/2022 – En cours | Doclibya
                              </p>
                              <div class="div-img">
                                <img
                                  class="img-efusion"
                                  src="assets/img/docliby.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <p class="card-text mt-2">
                              <i class="bi bi-arrow-bar-right"></i>developing a
                              web platform for scheduling appointments with
                              doctors.
                            </p>
                            <p class="card-text mt-2">
                              <i class="bi bi-arrow-bar-right"></i>create
                              functions to the web application -
                              <em class="em-text">Laravel</em>.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About me Section -->
