<!-- ======= Header ======= -->
<header
  id="header"
  class="fixed-top"
  [ngClass]="{ 'navbar-scrolled': isScrolled }"
>
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Hussmey</a></h1>

    <div class="continer">
      <div
        class="row cardsss d-flex align-items-center d-flex justify-content-center"
      >
        <div class="col-sm-12 text-white d-flex justify-content-center">
          <p class="temp-p">{{ city }} <br />{{ weatherTime }}</p>
          <p class="ms-2 py-3">{{ tempretre }}</p>
          <img class="imgIcon" src="{{ weatherIcon }}" alt="weatherIcon" />
          <!-- <p class="temp-p">{{ weatherTime }}</p> -->
        </div>
        <!-- <div class="col-sm-6">
          <p class="location-p">
            <img src="{{ weatherIcon }}" alt="weatherIcon" />
          </p>
        </div> -->
      </div>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto" href="#work">Work</a></li>
        <li><a class="nav-link scrollto" href="#blog">Blog</a></li>

        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- start card weather -->

<!-- end card weather -->
