<!-- ======= Testimonials Section ======= -->
<div
  class="testimonials mt-3 paralax-mf bg-image"
  style="background-image: url(assets/img/ordihuss.jpeg)"
>
  <div class="overlay-mf"></div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="testimonials-slider swiper"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="author-test">
                  <img
                    src="assets/img/testimonial-2.jpg"
                    alt=""
                    class="rounded-circle b-shadow-a"
                  />
                  <span class="author">Daniel Alonso</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at
                    sem. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="author-test">
                  <img
                    src="assets/img/testimonial-4.jpg"
                    alt=""
                    class="rounded-circle b-shadow-a"
                  />
                  <span class="author">Marta Socrate</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at
                    sem. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div> -->

  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <div class="col-md-12 divImage">
            <img
              src="../../../assets/img/man.png"
              class="d-block images"
              alt="..."
            />
          </div>
          <div class="carousel-caption">
            <div class="card position-relative">
              <div class="row">
                <img
                  class="img-left-right position-absolute top-0 start-0"
                  src="../../../assets/img/left.png"
                  alt=""
                />
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>

                <img
                  class="img-left-right pppp"
                  src="../../../assets/img/right.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <div class="col-md-12 divImage">
            <img
              src="../../../assets/img/man0.png"
              class="d-block images"
              alt="..."
            />
          </div>
          <div class="carousel-caption">
            <div class="card position-relative">
              <div class="row">
                <img
                  class="position-absolute top-0 start-0 img-left-right"
                  src="../../../assets/img/left.png"
                  alt=""
                />
                <h5>Second slide label</h5>
                <p>
                  Some representative placeholder content for the second slide.
                </p>
                <img
                  class="img-left-right pppp"
                  src="../../../assets/img/right.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <div class="col-md-12 divImage">
            <img
              src="../../../assets/img/women0.png"
              class="d-block images"
              alt="..."
            />
          </div>
          <div class="carousel-caption divCaption">
            <div class="card position-relative">
              <div class="row">
                <img
                  class="position-absolute top-0 start-0 img-left-right"
                  src="../../../assets/img/left.png"
                  alt=""
                />
                <h5>Third slide label</h5>
                <p>
                  Some representative placeholder content for the third slide.
                </p>
                <img
                  class="img-left-right pppp"
                  src="../../../assets/img/right.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- End Testimonials Section -->
