<!-- ======= Hero Section ======= -->
<div
  id="hero"
  class="hero route bg-image"
  style="background-image: url(assets/img/hussmey.jpeg)"
>
  <div class="overlay-itro"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->

        <h1 class="hero-title mb-4">Hussam AHTASH</h1>

        <div class="animated-text">
          <span>developer web &</span>
          <span>web mobile</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
