<!-- ======= Blog Section ======= -->
<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Blog</h3>
          <p class="subtitle-a">
            Discover insights, tips, and inspiration on with our engaging and
            informative blog posts.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <img src="assets/img/cssblog.png" alt="" class="img-fluid" />
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">CSS</h6>
              </div>
            </div>
            <h3 class="card-title">
              <p href="blog-single.html">See more about CSS</p>
            </h3>
            <p class="card-description">
              CSS is constantly evolving, and 2022 is shaping up to be an
              exciting year for web design. From new layout options to improved
              animations, there are several trends to keep an eye on. In this
              blog post, we'll explore some of the key CSS trends to watch in
              2023 and discuss how you can start incorporating them into your
              own projects. Let's get started!
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <img
                src="assets/img/hussahtash.jpeg"
                alt=""
                class="avatar rounded-circle"
              />
              <span class="author">Hussam AHTASH</span>
            </div>
            <div class="post-date">
              <span class="bi bi-clock"></span> oct 2022
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <img src="assets/img/webdis.jpeg" alt="" class="img-fluid" />
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Web Design</h6>
              </div>
            </div>
            <h3 class="card-title">
              <p>See more ideas about web design</p>
            </h3>
            <p class="card-description">
              As we approach 2023, web design is continuing to evolve and push
              boundaries. From bold color schemes to immersive user experiences,
              there are many exciting trends on the horizon. In this blog, we
              will explore the latest web design trends that are set to take the
              . Get ready to be inspired and stay ahead of the game with these
              cutting-edge design ideas
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <img
                src="assets/img/hussahtash.jpeg"
                alt=""
                class="avatar rounded-circle"
              />
              <span class="author">Hussam AHTASH</span>
            </div>
            <div class="post-date">
              <span class="bi bi-clock"></span> april 2023
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <img src="assets/img/Angularall.png" alt="" class="img-fluid" />
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Angular 15</h6>
              </div>
            </div>
            <h3 class="card-title">
              <p>See more ideas about Angular 15</p>
            </h3>
            <p class="card-description">
              Angular 15 has just been released with exciting new features and
              improvements that make developing web applications even more
              efficient and enjoyable. In this blog, We'll also explore how
              these changes can benefit your workflow and help you build better
              applications join us on this journey to discover what's new in
              Angular 15
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <img
                src="assets/img/hussahtash.jpeg"
                alt=""
                class="avatar rounded-circle"
              />
              <span class="author">Hussam AHTASH</span>
            </div>
            <div class="post-date">
              <span class="bi bi-clock"></span> may 2023
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Section -->
